<section id="sec-clients-list">
    <div id="filter-list">
        <div class="search-clients">
            <i class="fa-solid fa-search"></i>
            <input 
                type="text" 
                name="search-client" 
                id="search-client" 
                placeholder="Buscar por nome"
            >
        </div>
        <div class="filter-status">
            <i class="fa-solid fa-filter"></i>
            <select name="select-status" id="select-status">
                <option value="" selected>Selecione</option>
                <option value="lead">Lead</option>
                <option value="em contato">Em contato</option>
                <option value="cliente">Cliente</option>
                <option value="perdido">Perdido</option>
            </select>
        </div>
    </div>
    <div id="clients-list">
        <div class="client-header-list">
            <p>Nome</p>
            <p>Empresa</p>
            <p>Email</p>
            <p>Telefone</p>
            <p>Estado</p>
        </div>
    <div>
</section>