<main id="main">
    <div class="a1"></div>
    <section id="sec-metricas">
        <div class="container" id="cima">
            <div class="metric-card">
                <div class="metric-card-info">
                  <h3 class="metric-card-title">Total de clientes</h3>
                  <p class="metric-card-value">23</p>
                </div>
              
                <div class="metric-card-icon">
                  <i class="fa-solid fa-users"></i>
                </div>
            </div>
            <div class="metric-card">
                <div class="metric-card-info">
                  <h3 class="metric-card-title">Leads ativos</h3>
                  <p class="metric-card-value">10</p>
                </div>
              
                <div class="metric-card-icon">
                  <i class="fa-solid fa-user-plus"></i>
                </div>
            </div>
            <div class="metric-card">
                <div class="metric-card-info">
                  <h3 class="metric-card-title">Clientes fechados</h3>
                  <p class="metric-card-value">40</p>
                </div>
              
                <div class="metric-card-icon">
                  <i class="fa-solid fa-handshake"></i>
                </div>
            </div>
            <div class="metric-card">
                <div class="metric-card-info">
                  <h3 class="metric-card-title">Clientes perdidos</h3>
                  <p class="metric-card-value">2</p>
                </div>
              
                <div class="metric-card-icon">
                  <i class="fa-solid fa-user-xmark"></i>
                </div>
            </div>
        </div>
        <div class="container" id="baixo">
            <div class="metric-card">
                <div class="metric-card-info">
                  <h3 class="metric-card-title">Taxa de conversão</h3>
                  <p class="metric-card-value">80%</p>
                </div>
              
                <div class="metric-card-icon">
                  <i class="fa-solid fa-chart-line"></i>
                </div>
            </div>
            <div class="metric-card">
                <div class="metric-card-info">
                  <h3 class="metric-card-title">Tarefas pendentes</h3>
                  <p class="metric-card-value">2</p>
                </div>
              
                <div class="metric-card-icon">
                  <i class="fa-solid fa-clipboard-list"></i>
                </div>
            </div>
            <div class="metric-card">
                <div class="metric-card-info">
                  <h3 class="metric-card-title">Tarefas atrasadas</h3>
                  <p class="metric-card-value">0</p>
                </div>
              
                <div class="metric-card-icon">
                  <i class="fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="metric-card">
                <div class="metric-card-info">
                  <h3 class="metric-card-title">Interações registradas</h3>
                  <p class="metric-card-value">68</p>
                </div>
              
                <div class="metric-card-icon">
                  <i class="fa-solid fa-comments"></i>
                </div>
            </div>
        </div>
    </section>
    {% include "./partials/client_form.html" %}
    {% include "./partials/client_list.html" %}
</main>