* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--color-surface-dark);
    color: var(--color-text);
    font-family: var(--font-main);
    position: relative;
}

img,
svg {
    max-width: 100%;
}

button,
input,
select {
    font: inherit;
}
