{% extends "./base.html" %}

{% block title %} CRM - ClientHub {% endblock title %}

{% block message %}
    {% include "./partials/message.html" %}
{% endblock message %}

{% block aside %}
    {% include "./partials/aside.html" %}
{% endblock aside %}

{% block header %}
    {% include "./partials/header.html" %}
{% endblock header %}

{% block main %}
    {% include "./partials/client_page.html" %}
{% endblock main %}

{% block footer %}
    {% include "./partials/footer.html" %}   
{% endblock footer %}

{% block module %}
    <script type="module" src="{{ url_for('static', filename='js/client_page.js') }}"></script> 
{% endblock module %}
